* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}
.navbar
{
    background-color: rgb(95, 142, 250);font-family: calibari;
    padding-right: 30px;
    padding-left: 30px;
}
.navdiv
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo b{
  font-size: 35px;font-weight: 600;color: #fff;
}
li{
    list-style: none;
    display: inline-block;
}
li b{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}
button{
    background-color: #000;margin-left: 10px;border-radius: 10px;padding: 10px;width: 90px;
}
button a{
    color: #fff;font-weight: bold;font-size:15px ;
}
.container {
  position: relative;
  height: 100vh; 
  width: 100%;
  overflow: hidden;
}

.background-clip {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 1;
}

.content h1{
    font-size: 95px;
    color: aliceblue;
    margin-bottom: 50px;
}
.content h2{
    font-size: 20px;
    color: aquamarine;
    padding:40px 10px;
}
.content a{
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    border:2px solid #fff;
    padding:15px 25px;
    border-radius: 50px;
    transition: 0.3s;
}
.content a:hover
{
    background-color: aqua;
    color: black;
}

.next-section {
  min-height: 100vh;
  padding: 60px;
  background-color: #020531;
  color: #ffffff;
  text-align: center;
  
}
.intro
{
    background-color: navy;
    border:2px solid #fff;
    padding:15px 25px;
    border-radius: 50px;
    transition: 0.3s;
}
.text{
    display: inline-block;
}
.text{
font-size: 2em;
letter-spacing: 5px;
font-family: monospace;
width: 100%;
word-wrap: break-word; 
  line-height: 1.6;  
overflow: hidden;
animation: 
typing 2s step(131),
cursor .4s step-end infinite alternate;
}
@keyframes cursor {
    50%{border-color: transparent;}
    
}
@keyframes typing {
    from{width: 0;}
    
}

.skills {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.skills h2{
    font-size: 50px;
}
.rotate
{
  animation:Auto ;
  animation-timeline: view();
}
@keyframes Auto {
    from{
        transform:rotate(0deg);
    }
    to{
        transform: rotate(365deg);
    }
    
}
footer {
background-color: rgb(0, 0, 0);
  color: rgb(52, 194, 255);
  text-align: left;
  font-size: large;
  padding: 4rem;
  
}

footer ul {
  list-style: none;
}

footer a {
  color: #04AA6D;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
button{
  shape-rendering: geometricPrecision;
  shape-outside: circle(100);
  vector-effect: calc(100);
}

.btn:hover {
  background-color: #3e8e41;
  color: white;

}
/* Video */
.video-section {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.video-section video {
  max-width: 40%;
  max-height: 70%;
  border-radius: 20px;
}
